@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: #E5E2FF;
}

.header {
  background-color: #8C8BC7;
}

.container-fluid > .navbar-brad {
  width: 250px;
}

.btn {
  margin-right: 10px;
}

.list-group-item {
  margin-bottom: 10px;
}

.numberVoting  {
  margin-bottom: 20px;
  padding: 50px 0px;
}
.navbar-brad {
  font-size: 35px;
  font-weight: 500;
  color: #8C8BC7
}

.jumbotron {
  margin-bottom: 0px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #E4E1FE;
  margin-top: 5px;
}
.author-block {
  width: 30%;
}

.pagination {
  margin-top: 20px;
  padding: 50px 0px;
}
.lead  {
  font-size: 30px;
  color: white;
  background-color: #8C8BC7;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 30px;
  word-wrap: break-word;
}
.card {
  color: white;
  background-color: #8C8BC7;
  border-radius: 5px;
  padding: 30px;
  font-size: 20px;
  word-wrap: break-word;
}
.main {
  height: 100%;
  background-color: #8C8BC7;
}

footer {
  height: 300px;
  background-color: #8C8BC7;
}

.comment-list {
  width:550px; 
  height:100px; 
  background: #fff; 
  border: 1px solid #C1C1C1; 
  overflow: auto;
  padding:20px;
}

.login-form {
  background-color: #8C8BC7 ;
   border-radius: 10px;
  width: 100%;  
  box-shadow: -7px 0px 44px -15px #000000;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
}
.login__links, .links {
  color: black;
  cursor: pointer;
}


.input-form {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
}

.validate-errors {
  color: red;
  border: 2px solid red;
}

.selectedPage {
  font-size: 500;
}
.main__info {
  color: red;
  font-size: 40px;
  width: 300px;
  margin: 0 auto;
}


.creating-btn {
  background-color: grey;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.creating-button {
  width: 300px;
  height: 50px;
}


.btns {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}
.filter-btn {
  width: 350px;
  height: 50px;
  font-size: 20px;
}

.pagination {
  margin: 0 auto
}


